<!DOCTYPE html>
<html lang="ja" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>TSUBUYAKEY</title>
  </head>
  <header>

  </header>
  <body>
    <%= render 'form' %>
  </body>
  <footer></footer>
</html>
