<!DOCTYPE html>
<html lang="ja" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>TSUBUYAKEY</title>
  </head>
  <header>
    <h1>ホーム</h1>
  </header>
  <body>
    <table>
      <tr>
        <th>content</th>
      </tr>
    <% @voice.each do |voice| %>
      <tr>
        <td><%= voice.content %></td>
        <!-- <td><%= link_to '編集', voice_path(voice.id) %></td>
        <td><%= link_to '削除', voice_path(voice.id) %></td> -->
      </tr>
    <% end %>
    </table>
    <br>
    <%= link_to '新規作成', new_voice_path %>
  </body>
  <footer></footer>
</html>
